/* 回收站 */
.content-list-thead-tab {
  height: 0.6rem;
  line-height: 0.6rem;
}
.content-list-thead-tab .content-list-thead-all {
  float: left;
}
.content-list-thead-tab .content-list-thead-all {
  float: left;
  font-size: .21rem;
  color: #e4ebf5;
}
.z-icon-box {
  float: left;
  width: 0.6rem;
  text-align: center;
  cursor: pointer;
}
.z-icon-box.z-h140 {
  line-height: 1.39rem;
}
.z-icon-box .icon-weixuanzhong {
  font-size: 0.32rem;
  color: #4968a2;
}
.z-icon-box .icon-xuanzhong {
  font-size: 0.32rem;
  color: #4a69a4;
}
.bottom-box .content-box .content-list.content-list-tbody dl .c-check-icon {
  top: 0.57rem;
}
.bottom-box .content-box .content-list.content-list-tbody dl dd {
  padding: 0.58rem 0 0.58rem 0;
}
.bottom-box .content-box .content-list dl {
  /*padding-left:0.60rem;*/
}
.bottom-box .content-box .content-list dl dd.list-first {
  width: 5.04rem;
}
.bottom-box .content-box .content-list dl dd.list-first.list-img-box {
  width: 3.24rem;
  padding-left: 1.8rem;
}
.bottom-box .content-box .content-list dl dd.list-first.list-img-box .list-oimg {
  position: absolute;
  top: 0.24rem;
  left: 0;
}
.bottom-box .content-box .content-list dl dd.list-first.list-img-box .list-oimg img {
  display: block;
  width: 1.60rem;
  height: 0.90rem;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}
.bottom-box .content-box .content-list dl dd.list-first.list-img-box .list-oimg p {
  position: absolute;
  bottom: 0;
  width: 1.60rem;
  height: 0.20rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 0.14rem;
  line-height: 0.20rem;
}
.bottom-box .content-box .content-list dl dd.list-second {
  width: 2.88rem;
}
.bottom-box .content-box .content-list dl dd.list-second em {
  font-size: 0.25rem;
  padding-left: 0.05rem;
}
.bottom-box .content-box .content-list dl dd.list-third {
  width: 3.35rem;
}
.bottom-box .content-box .content-list dl dd.list-four {
  width: 2.12rem;
}
.bottom-box .content-box .content-list dl dd.list-fifth {
  width: 1.6rem;
}
.bottom-box .content-box .content-list dl dd a.delete-a {
  color: red;
}
.bottom-box .content-box .content-list dl dd a.edit-a {
  height: 0.22rem;
  margin-top: 0.02rem;
  color: #4234c6;
}
.bottom-box .content-box .content-list dl dd a.restore-a {
  color: #57559f;
}
