/* 文件资源 */
/* 媒体文件 */
.pl60 {
    padding-left: 0.6rem !important;
}

/**去除头部dd的text-inden:60**/
.ti0 dd {
    text-indent: 0 !important;
    margin-right: 0.3rem;
}

.content-list-thead-tab {
    height: 0.6rem;
    line-height: 0.6rem;
}

.content-list-thead-tab .content-list-thead-all {
    float: left;
}

.content-list-thead-tab .content-list-thead-all {
    float: left;
    font-size: .21rem;
    color: #e4ebf5;
}

.z-icon-box {
    float: left;
    width: 0.6rem;
    text-align: center;
    cursor: pointer;
}

.z-icon-box.z-h140 {
    line-height: 1.39rem;
}

.z-icon-box .icon-weixuanzhong {
    font-size: 0.32rem;
    color: #4968a2;
}

.z-icon-box .icon-xuanzhong {
    font-size: 0.32rem;
    color: #4a69a4;
}

.bottom-box .content-box .content-list.content-list-tbody dl .c-check-icon {
    top: 0.57rem;
}

.bottom-box .content-box .content-list.content-list-tbody dl dd {
    padding: 0.58rem 0 0.58rem 0;
}

.bottom-box .content-box .content-list dl {
    /*padding-left:0.60rem;*/
}

.bottom-box .content-box .content-list dl dd {
    margin-right: 0.3rem;
}

.bottom-box .content-box .content-list dl dd.list-state {
    width: 1rem;
}

.bottom-box .content-box .content-list dl .list-progress {
    width: 1.6rem;
}



.bottom-box .content-box .content-list dl dd.list-first.list-img-box {
    width: 2.24rem;
    padding-left: 1.8rem;
}

.bottom-box .content-box .content-list dl dd.list-first.list-img-box .list-oimg {
    position: absolute;
    top: 0.24rem;
    left: 0;
}

.bottom-box .content-box .content-list dl dd.list-first.list-img-box .list-oimg img {
    display: block;
    width: 1.60rem;
    height: 0.90rem;
}



.bottom-box .content-box .content-list dl dd a.delete-a {
    color: #f53838;
}

.bottom-box .content-box .content-list dl dd a.edit-a {
    height: 0.22rem;
    margin-top: 0.02rem;
    color: #7b6dfd;
}

.bottom-box .content-box .content-list dl dd a.look-a {
    color: #47f3f2;
}


/***转码状态颜色值***/
.list-state.success{
    color:#99bbfd !important;
}

.list-state.error{
    color:#fe6666 !important;
}

.list-state.doing{
    color:#6fd8ff !important;
}

/**进度条组件**/
.zprogress {
    width: 100%;
    height: 20px;
}

/**进度条背景色**/
.zprogress-bg {
    position: relative;
    display: block;
    width: 100%;
    height: inherit;
    background-color: #182442;
}

/**正在加载的颜色**/
.zprogress-finish {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 10%;
    height: inherit;
    background-color: #6fd8ff;
}

/**转码中的提示**/
.zprogress-txt {
    display: none;
    padding: 0.1rem 0;
    font-size: 0.16rem;
    line-height: 0.24rem;
}

/**成功**/
.zprogress.success .zprogress-bg {
    background-color: #769eeb;
}

/**失败**/
.zprogress.error .zprogress-bg {
    background-color: #fe6666;
}

/**进行中**/
.zprogress.doing .zprogress-bg {
    background-color: #182442;
}

.zprogress.doing .zprogress-finish{
    display: block;
}

.zprogress.doing .zprogress-txt{
    display: block;
}


/***上传视频弹层***/
.upload-video{
  width:8.8rem;
}

.upload-item{
  margin-top:0.3rem;
  padding-left:0.75rem;
}

.upload-item:after{
  content:'';
  display:block;
  clear:both;
}

.upload-item label{
  float:left;
  width:1.08rem;
  line-height:0.38rem;
  font-size:0.2rem;
  color:#fff;
}

.upload-item input,.upload-item textarea,.upload-item select,.upload-item select option{
  width:6.1rem;
  border:0.01rem solid #4a69a4;
  background-color:#172449;
  border-radius:0.04rem;
  color:#fff;
  font-size:0.2rem;
}

/****文件名称***/
.file-name{
  height:0.38rem;
  line-height:0.38rem;
  padding:0 0.2rem;
}

/****文件描述***/
.file-msg{
  padding:0.1rem 0;
  height:1.88rem;
  line-height:0.24rem;
  text-indent:0.2rem;
  resize:none;
}
/*** 文件类型****/
select.file-select option{
    text-align: center;
}
.upload-upload:after{
  content:'';
  display:block;
  clear:both;
}

/**上传按钮***/
.upload-btn{
  float:left;
  width:6.1rem;
  height:0.38rem;
  line-height:0.38rem;
  border-radius:0.04rem;
  background-color:#4a69a4;
  font-size:0.2rem;
  text-align:center;
  color:#fff;
  cursor:pointer;
}

.upload-btn i{
  padding:0 0.1rem;
  font-size:0.2rem;
}

/***上传插件的样式覆盖***/
.upload-btn input[type='file']{
  opacity:0;
  cursor:pointer;
}

/**选择的文件和备注**/
.upload-txt,.upload-mark{
  margin-top:0.15rem;
  padding-left:1.08rem;
  font-size:0.16rem;
  line-height:0.26rem;
}

.upload-txt{
  color:#f15151;
}

.upload-mark{
  color:#7fdafc;
}

.upload-op{
  margin:0.3rem 0;
  text-align:center;
}

.upload-op .sham-btn{
  width:1.38rem;
}

.upload-op .sham-btn-sure{
  margin-right:1.4rem;
}

.zlayer-box:before {
    left: -1px !important;
    bottom: -1px !important;
}

.zlayer-top:before {
    left: -1px !important;
    top: -1px !important;
 }


/**进度条结构***/
.upload-wrap{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:rgba(0,0,0,0.6);
  z-index:998;
}

.upload-box{
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-305px;
  margin-top:-85px;
  width:610px;
  height:170px;
  background-color:#18264f;
  
}

/***进度条提示***/
.upload-prompt{
  margin:0 auto;
  width:80%;
  line-height:60px;
  font-size:20px;
  color:#fff;
}


/***进度条结构***/
.upload-progress{
  width:80%;
  height:30px;
  margin:0 auto;
}

.upload-progress-bg{
  float:left;
  position:relative;
  margin-top:10px;
  width:350px;
  height:10px;
  background-color:#fe6666;
  border-radius:4px;
  overflow:hidden;
}

.upload-progress-jd{
  position:absolute;
  left:0;
  top:0;
  height:10px;
  width:22%;
  z-index:2;
  background-color:#6fd8ff;
}

.upload-progress-txt{
  float:left;
  padding-left:10px;
  height:30px;
  line-height:30px;
  font-size:14px;
  color:#6fd8ff;
}

/**取消上传按钮***/
.upload-cancel{
  margin:20px auto;
  display:block;
  width:100px;
  height:30px;
  border-radius:4px;
  background-color:#f15151;
  color:#eef5ff;
  font-size:16px;
  border:none;
  cursor:pointer;
}

::-webkit-input-placeholder {
    font-size:0.2rem;
    color:#5c6a85;
}

::-moz-placeholder{/* Firefox 19+ */
    font-size:0.2rem;
    color:#5c6a85;
}

:-ms-input-placeholder {
   font-size:0.2rem;
   color:#5c6a85;
}



.z-addfrom .list-from {
  width: 1.6rem;
}



/******************文件上传*********************/
.bottom-box .content-box .content-list dl dd.file-seven {
    width:2.8rem;
    text-indent: .6rem;
}
.bottom-box .content-box .content-list dl dd.file-first {
    width:2.8rem;
    text-indent: 0.1rem;
}

.bottom-box .content-box .content-list dl dd.file-second {
    width:1.4rem;
    text-indent: 0.1rem;
}
.bottom-box .content-box .content-list dl dd.file-third {
    width:1.4rem;
    text-indent: 0.1rem;
}
.bottom-box .content-box .content-list dl dd.file-four {
    width:1.4rem;
    text-indent: 0.1rem;
}
.bottom-box .content-box .content-list dl dd.file-fifth {
    width:1.4rem;
    text-indent: 0.1rem;
}
.bottom-box .content-box .content-list dl dd.file-sixth {
    width:1.4rem;
    text-indent: 0.1rem;
}

/******************类型管理*********************/
.bottom-box .content-box .content-list dl dd.list-seven {
    width:1.8rem;
    text-indent: .6rem;
}
.bottom-box .content-box .content-list dl dd.list-first {
    width:2.8rem;
    text-indent: 0.1rem;
}

.bottom-box .content-box .content-list dl dd.list-second {
    width:2.8rem;
    text-indent: 0.1rem;
}
.bottom-box .content-box .content-list dl dd.list-third {
    width:1.4rem;
    text-indent: 0.1rem;
}
.bottom-box .content-box .content-list dl dd.list-four {
    width:1.4rem;
    text-indent: 0.1rem;
}
.bottom-box .content-box .content-list dl dd.list-fifth {
    width:1.4rem;
    text-indent: 0.1rem;
}
.bottom-box .content-box .content-list dl dd.list-sixth {
    width:1.4rem;
    text-indent: 0.1rem;
}

.input-box{text-align:center;}
.input-box label{font-size:0.20rem; color:#fff;margin-right:0.1rem;}


